<div class="card" id="chips-links-card">
    CHIPS
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Useful Links</div>
        <br>
        <div class="card-sub-details">Website</div>
        <a href="https://chips.cash" target="_blank">https://chips.cash</a>
        <br>  <br>
        <div class="card-sub-details">CHIPS explorer</div>
        <a href="https://explorer.chips.cash" target="_blank">https://explorer.chips.cash</a>
        <br>  <br>
        <div class="card-sub-details">CHIPS Discord</div>
        <a href="https://discord.gg/9XMYRXUUSP" target="_blank">https://discord.gg/9XMYRXUUSP</a>
    </div>
</div>