<div class="bottom">
    <div class="sub-title">Donation</div>
    <div class="sub-title-value">VRSC: RCdXBieidGuXmK8Tw2gBoXWxi16UgqyKc7</div>
    <div><img class="qr-code" src="/svg/verus_qr.svg" /></div>
    <div class="sub-title">Contact</div>
    <div class="sub-title-value">support@faldt.net</div>
</div>