<div class="bottom">
    <div class="sub-title">Useful Links</div>
    <div class="useful-links">
        <div><a href="https://verus.io">Verus Website</a></div>
        <div><a href="https://insight.verus.io">Verus Explorer</a></div>
        <div><a href="https://verus.io/discord">Verus Discord</a></div>
        <div><a href="https://raw.verus.trading">Verus Raw Trading</a></div>
        <div><a href="https://veruswisdom.com">Verus Wisdom</a></div>
    </div>



    <div class="sub-title">Donation</div>
    <div class="sub-title-value">VRSC: cryptodashboard@</div>
    <div><img class="qr-code" src="/svg/donation_qr_code.svg" /></div>
    <div class="sub-title">Contact</div>
    <div class="sub-title-value">support@faldt.net</div>
</div>