<div class="bottom">
    <div class="sub-title">Donation</div>
    <div class="sub-title-value">VRSC: cryptodashboard@</div>
    <div><img class="qr-code" src="/svg/donation_qr_code.svg" /></div>
    <div class="sub-title">Contact</div>
    <div class="sub-title-value">support@faldt.net</div>
</div>