<div class="card" id="{{blockchain}}-links-card">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Useful Links</div>
        <br>
        {{#each this.links}}
   
        <a href="{{{this.href}}}" target="_blank">{{{this.title}}}</a>
        <br> <br>
        {{/each}}

    </div>
</div>