{{#each pbaasList}}

<span class="project" id="{{blockchain}}" data-image="{{icon}}"></span>

{{> linksCard}}
{{> marketCapStatsCard}}
{{> priceListCard}}
{{> addressBalanceCard}}
{{> basketReservesCard}}
{{> basketVolume24hCard}}
{{> basketVolume7dCard}}
{{> basketVolume30dCard}}
{{> blockAndFeePoolRewardsCard}}
{{> stakingRewardsCard}}
{{> miningRewardsCard}}
{{> currencyVolumeBasketCard}}



{{/each}}