{{#each pbaasList}}

    <span class="project" id="{{blockchain}}" data-image="{{icon}}"></span>

    {{> linksCard}}
    {{> marketCapStatsCard}}
    {{> priceListCard}}
    {{> priceListCard}}
    {{> basketReservesCard}}
    {{> basketVolume24hCard}}
    {{> basketVolume7dCard}}
    {{> basketVolume30dCard}}
    {{> blockAndFeePoolRewardsCard}}
    {{> stakingRewardsCard}}
   


{{/each}}

