<div class="card" id="stats-pbaas-network-hashrate-card">
    <img width="16px" src="/img/stats.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">PBaaS Network Hashrate</div>
        {{!-- {{#if vrscOnline}} --}}
        {{#each networkHashrateArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{this.blockchain}}}</div>
            <div class="card-row-item">
                 {{{this.networkHashrate}}} GH/s
            </div>
        </div>
        {{/each}}

    </div>
</div>