<div class="card" id="varrr-links-card">
    <img width="16px" src="/img/Pirate_Logo_Coin_Gold.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Useful Links</div>
        <br>
        <div class="card-sub-details">Website</div>
        <a href="https://piratechain.com" target="_blank">https://piratechain.com</a>
        <br>  <br>
        <div class="card-sub-details">vARRR Explorer</div>
        <a href="https://explorer.piratechain.com" target="_blank">https://explorer.piratechain.com</a>
        <br>  <br>
        <div class="card-sub-details">vARRR Discord</div>
        <a href="https://piratechain.com/discord" target="_blank">https://piratechain.com/discord</a>
    </div>
</div>