<div class="card" id="verus-links-card">
   vDEX
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Useful Links</div>
        <br>
        <div class="card-sub-details">Website</div>
        <a href="https://verus.io" target="_blank">https://verus.io</a>
        <br>  <br>
        <div class="card-sub-details">vDEX Explorer</div>
        <a href="https://explorer.vdex.to" target="_blank">https://explorer.vdex.to</a>
        <br>  <br>
        <div class="card-sub-details">Verus Discord</div>
        <a href="https://verus.io/discord" target="_blank">https://verus.io/discord</a>
    </div>
</div>