<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles-003.css">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <script src="chart.js"></script>
    <script>
        // global variables for charts
        var dataArray = [];

        function formatVolume(value) {
            if (value >= 1000000) {
                return (value / 1000000).toFixed(1).replace(/\.0$/, "") + "M";
            } else if (value >= 1000) {
                return (value / 1000).toFixed(1).replace(/\.0$/, "") + "K";
            } else {
                return value.toString();
            }
        }

        function initChartData(blocktime, value, interval) {


            var currentTime = Date.now();
            var timeDifference = currentTime - (blocktime * 1000);

            var timeAgo = Math.floor(timeDifference / (1000 * 60 * 60));
            var blocktimeLabel = "";

            if (interval.localeCompare("days")) {
                if (timeAgo === 0) {
                    blocktimeLabel = "Now";
                } else if (timeAgo === 1) {
                    blocktimeLabel = "1H";
                } else {
                    blocktimeLabel = `${timeAgo}H`;
                }
            } else {
                timeAgo = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                if (timeAgo === 0) {
                    blocktimeLabel = "Now";
                } else if (timeAgo === 1) {
                    blocktimeLabel = "1D";
                } else {
                    blocktimeLabel = `${timeAgo}D`;
                }
            }


            dataArray.push({
                blocktime: blocktimeLabel,
                value: Math.round(value)
            })
        }
        function buildChart(context) {

            var ctx = context;
            // Create the chart using a charting library
            let chart = new Chart(ctx, {
                type: 'bar', // or any other chart type
                data: {
                    labels: dataArray.map(item => item.blocktime),
                    datasets: [{
                        label: '$',
                        data: dataArray.map(item => item.value),
                        backgroundColor: '#444',
                        borderColor: '#444',
                        borderWidth: 0
                    }],
                    backgroundColor: "#444",
                    borderColor: "#444",
                    borderWidth: 1,
                    borderRadius: 0,
                    borderSkipped: false,
                },
                options: {
                    plugins: {
                        title: {
                            display: false,
                            text: "Hourly Volume Distribution",
                            font: {
                                size: 16,
                                weight: "bold",
                            },
                            color: "white",
                        },
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function (value) {
                                    return formatVolume(value);
                                },
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                color: "white",
                            },
                            ticks: {
                                display: true,
                            },
                        },
                    },
                    interaction: {
                        intersect: false,
                        mode: "index",
                    },
                    hover: {
                        animationDuration: 300,
                    },
                    animation: {
                        duration: 1000,
                        easing: "easeInOutQuart",
                    },
                }
            });
            // clear chart data
            dataArray = [];
        }
    </script>
    <title>Cryptodashboard</title>
</head>

<body onload="init()">
    {{> header}}

    <div class="side-menu"></div>
    <div class="section">
        <span class="project" id="disclaimer">
            <svg fill="#444" width="16" height="16" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    d="M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l448 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l448 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zm96 64a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm104 0c0-13.3 10.7-24 24-24l224 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-224 0c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24l224 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-224 0c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24l224 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-224 0c-13.3 0-24-10.7-24-24zm-72-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM96 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
            </svg>
        </span>
        {{> disclaimer}}
        {{> newsCard}}

        {{!-- <span class="project" id="Threefold" data-image="/img/tflogo.png"></span>
        {{> threefoldNodeCard}} --}}

        <span class="project" id="Currencies" data-image="/img/dollars.png"></span>

        {{> currencyCards}}

        {{!-- <span class="project" id="Stats" data-image="/img/dollars.png"></span>
        {{> statsCards}} --}}
        {{> pbaasCards}}

        

    </div>

    {{> footer}}
    {{{updateScript}}}
    <div id="hint" class="hide">Hej</div>
</body>
<script src="main-003.js"></script>

</html>