@font-face {
    font-family: maven;
    src: url(fonts/MavenPro-VariableFont_wght.ttf);
}

body {
    background-color: rgb(246, 246, 246);
    transition: background-color 0.3s ease, color 0.3s;
    color: #444;
    font-family: maven;
    position: relative;
    padding: 0;
    margin: 0;
}

.header {
    font-size: 32px;
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
    animation: fadeIn 2s;
}

.header-bold {
    font-weight: bold;
}

.header-version {
    display: none;
    font-size: 12px;
    text-transform: none;
}

#cache-updated {
    font-size: 12px;
    text-transform: none;
    color: #444;
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px 10px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
}

.cache-out-of-sync {
    border: 1px solid orange !important;
    background-color: lightgoldenrodyellow !important;
}

.alert-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
}

#dark-mode {
    display: inline-block;
    cursor: pointer;
}

.light-mode-icon {
    width: 20px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    fill: orange;
}

.dark-mode-icon {
    width: 20px;
    padding: 5px;
    fill: #ccc;
}


.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.section-header {
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
}



.small-label {
    font-size: 12px;
    color: grey;
}

.go-center {
    text-align: center;
}

.go-right {
    text-align: right;
}

.project {
    display: none;
}

.card {
    z-index: 50;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 10px 20px 10px;
    margin-bottom: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    /* min-height: 321px; */
    animation: fadeIn 2s;
}

.card-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content-row {
    display: flex;
    flex-direction: row;
    padding: 2px 0px;
    justify-content: space-between;
}

.card-content-item-label {
    text-transform: uppercase;
    font-size: 12px;
    /* min-width: 100px; */
}

.card-row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-row-item {
    font-size: 14px;
    padding: 2px 0;
}

.card-row-item-network {
    position: absolute;
    right: 100px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 0;
}

.card-row-image {
    width: 14px;
    height: 14px;
}

.card-row-item-details {
    font-size: 10px;
}

.card-title {
    padding: 10px 0 0px 0;
    font-size: 16px;
    font-weight: bold;
}

.card-sub-title {
    padding-top: 20px;
    text-transform: uppercase;
    color: #888;
}

.card-sub-title-main-value {
    font-size: 28px;
}

.card-sub-title-value {
    font-size: 20px;
}

.card-sub-title-value-prefix {
    font-size: 16px;
}

.card-sub-details {
    font-size: 14px;
}

.card-input {
    width: 270px;
    margin-bottom: 20px;
}

/* .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    animation: fadeIn 2s;
} */
/* 
.top-card-content {
    display: flex;
    flex-direction: column;
} */

.top-card-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    gap: 10px;
}

.top-card-content-row {
    display: flex;
    flex-direction: row;
    padding: 2px 0px;
}

.top-card-content-item {
    min-width: 100px;
}

.top-card-content-item-label {
    text-transform: uppercase;
    font-size: 12px;
    min-width: 100px;
}

.currency-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    animation: fadeIn 2s;
}

.currency-card-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.currency-card-content {
    display: flex;
    flex-direction: column;
}

.currency-card-content-row {
    display: flex;
    flex-direction: row;
    padding: 2px 0px;
}

.currency-card-content-item {
    min-width: 145px;
}

.currency-card-content-item-label {
    text-transform: uppercase;
    font-size: 12px;
    min-width: 145px;
}

.currency-card-footer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}


.bottom {
    padding: 10px;
    margin-left: 320px;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.qr-code {
    padding-top: 10px;
    width: 100px;
}

.graph-container {
    position: relative;
}

.graph-group {
    position: relative;
}

.graph-y-axis {
    display: flex;
    /* flex-direction: column; */
    align-content: space-between;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 60px;
    column-gap: 10px;
    position: absolute;
    height: 100px;
}

.graph-y-axis-item {
    width: 100%;
}

.graph-x-axis {
    text-align: right;
}

.graph-bar-container {
    padding-left: 60px;
    display: inline-block;
    /* display: flex;
    align-content: space-between; */

}

.graph-bar {
    background-color: #444;
    vertical-align: bottom;
    display: inline-block;
}

.graph-bar-small {
    width: 5px;
    margin-right: 2px;
}

.graph-bar-large {
    width: 6px;
    margin-right: 2px;
}

.graph-bar-xlarge {
    width: 28px;
    margin-right: 2px;
}

.graph-button-group {
    padding-top: 20px;
    text-align: center;
}

.graph-button {
    width: 100px;
    height: 40px;
}

.node-online {
    background-color: green;
    padding: 0 5px;
    color: white;
    display: inline-block;
    border-radius: 3px;
}

.node-offline {
    background-color: red;
    padding: 0 5px;
    color: white;
    display: inline-block;
    border-radius: 3px;
}


/*  mobile view */
@media only screen and (max-width: 680px) {
    .side-menu-icon {
        display: block;
    }

    .side-menu {
        display: none;
    }

    .section {
        padding: 10px;
        margin-left: 0px;
    }

    .card {
        min-height: 0;
    }

    .bottom {
        padding: 10px;
        margin-left: 0px;
    }
}

/* utils */
#hint {
    background-color: #3165d4;
    color: white;
    padding: 10px;
    position: fixed;
    border: 1px solid #aaa;
    z-index: 100000;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.button-selected {
    background-color: #3165d4;
    color: white;
}

.button-deselected {
    background: none;
    color: black;
}

.reset-button {
    display: none;
    font-size: 12px;
    line-height: 12px;
    background-color: #fff;
    border-color: lightgray;
    padding: 6px;
    margin-bottom: 10px;
    vertical-align: middle;

}

.hide-button {
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: 1px solid #aaa;
    padding: 2px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    color: #444
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}