@font-face {
    font-family: maven;
    src: url(fonts/MavenPro-VariableFont_wght.ttf);
}

body {
    background-color: rgb(246, 246, 246);
    color: #444;
    font-family: maven;
    position: relative;
    padding: 0;
    margin: 0;
}

.header {
    font-size: 32px;
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
    animation: fadeIn 2s;
}

.header-bold {
    font-weight: bold;
}

.header-version {
    font-size: 12px;
    text-transform: none;
}

.side-menu-icon {
    position: fixed;
    top: 71px;
    z-index: 101;
    background-color: rgb(246, 246, 246);
    border-radius: 0 50% 50% 0;
    border: 1px solid lightgray;
    border-left: none;
    padding: 0px;
    width: 28px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.side-menu-icon-closed {
    left: 0px;
}

.side-menu-icon-open {
    left: 310px;
}

.side-menu {
    position: absolute;
    overflow: hidden;
    width: 300px;
    /* height: 90vh; */
    bottom: 0;
    top: 64px;
    z-index: 100;
    background-color: rgb(246, 246, 246);
    border: 1px solid lightgray;
    height: 100%;
}

.side-menu-closed {
    left: -310px;
}

.side-menu-open {
    left: 0px;
}

.lock-side-menu-icon {
    position: fixed;
}

.unlock-side-menu-icon {
    position: relative;
}

.side-menu-group {
    padding: 20px 10px 10px 10px;
}

.side-menu-title{
    padding-bottom: 5px;
}

.side-menu-item {
    position: relative;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 3px;
}

.side-menu-item-title {
    max-width: 248px;
    border-right: 1px solid lightgray;
}

.side-menu-item-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.section {
    padding: 10px;
    margin-left: 300px;
    /* display: flex;
    flex-direction: row; */
}

.section-header {
    padding: 20px 0 10px 0;
}

.card {
    z-index: 50;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 10px 20px 10px;
    margin-bottom: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    min-height: 390px;
    animation: fadeIn 2s;
}

.card-header {
    /* padding-bottom: 10px; */
}

.card-title {
    padding: 10px 0 0px 0;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: underline; */
}

.card-sub-title {
    padding-top: 20px;
    text-transform: uppercase;
    color: #888;
}

.card-sub-title-value {
    font-size: 24px;
    /* font-weight: bold; */
    /* padding-bottom: 20px; */
}

.card-sub-details {
    font-size: 14px;
}

.card-input {
    width: 270px;
    /* height: 20px; */
}

.bottom {
    padding: 10px;
    margin-left: 300px;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.qr-code {
    padding-top: 10px;
    width: 100px;
}

.graph-container {
    position: relative;
}

.graph-group {
    position: relative;
}

.graph-y-axis {
    display: flex;
    /* flex-direction: column; */
    align-content: space-between;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 60px;
    column-gap: 10px;
    position: absolute;
    height: 100px;
}

.graph-y-axis-item {
    width: 100%;
}

.graph-x-axis {
    text-align: right;
}

.graph-bar-container {
    padding-left: 60px;
    display: inline-block;
    /* display: flex;
    align-content: space-between; */

}

.graph-bar {
    background-color: #444;
    vertical-align: bottom;
    display: inline-block;
}

.graph-bar-small {
    width: 5px;
    margin-right: 2px;
}

.graph-bar-large {
    width: 6px;
    margin-right: 2px;
}

.graph-bar-xlarge {
    width: 28px;
    margin-right: 2px;
}

.graph-button-group {
    padding-top: 20px;
    text-align: center;
}

.graph-button {
    width: 100px;
    height: 40px;
}

/* .graph-button:nth-child(0){
    border-radius: 4px;
} */

/*  mobile view */
@media only screen and (max-width: 680px) {
    .card {
        /* width: 100%;
        padding: 10px; */
        min-height: 0;
    }
}

/* utils */
#hint {
    background-color: #3165d4;
    color: white;
    padding: 10px;
    position: fixed;
    border: 1px solid #aaa;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.button-selected {
    background-color: #3165d4;
    color: white;
}

.button-deselected {
    background: none;
    color: black;
}

.reset-button {
    font-size: 12px;
    line-height: 12px;
    background-color: #fff;
    border-color: lightgray;
    padding: 6px;
    margin-bottom: 10px;
    vertical-align: middle;

}

.hide-button {
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: 1px solid #aaa;
    padding: 2px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}